body {
    padding-bottom: 25px;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;

}

.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-button {
    text-align: center;
}



h1 {
    font-size: 60px;
    font-weight: 600;
}

h3 {
    font-size: 23px;
}

p {
    font-size: 20px;
}


.color {
    color: orange;
}

.top_side {
    display: flex;
    margin-bottom: 100px;
}

.half_width {
    width: 50%;
    padding: 5%;
}

.half_width img {
    width: 80%;
}

.link_button {
    text-decoration: none;
    background-image: linear-gradient(#e6c99a, white);
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}

.top_banner {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.dream_big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 7%;
}

.experience01 {
    display: inline-block;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.shadow {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 1px 10px 30px RGB(247, 202, 201);
    border-radius: 10px;
    border-left: 5px solid grey;
}

.photo_shadow {
    box-shadow: 5px 10px 10px turquoise;
    border-radius: 80px;
}

.big_title {
    padding-bottom: 0px;
    margin-bottom: 0;
}

.down_title {
    font-size: 25px;
    margin-left: 50px;
    margin-bottom: 40px;
    border-left: 10px solid grey;
}