body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.flexible {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

.link_button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}

.top_banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: 110%;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 7%;
}

.experience {
    display: inline-block;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.shadow {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 20px indianred;
    border-radius: 10px;
    border-left: 5px solid grey;
}